body.animsition.dashboard.jui{
    min-width:915px;
}
.chartInitContainer .panel,.dataTableContainer .panel:last-child{
    height:100%;
    margin-bottom:0;
}
.page-content.container-fluid{
    height:100% !important;
    min-height:100% !important;
}
.main-container .page-header{
    padding:20px 0;
}
nav.site-navbar{
    min-width : 951px;
}
div.navbar-brand.navbar-brand-center.site-gridmenu-toggle{
    width: 100%;
    border-right: 1px solid #dfdfdf;
}
nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega,
div.navbar-brand.navbar-brand-center.site-gridmenu-toggle
{
    background-color:#fff;
}
.nav.navbar-toolbar.navbar-left.navbar-toolbar-left{
	position:relative;
    padding:0.14rem;
    border-right: 1px solid #dfdfdf;
}
.navbar-container.container-fluid{
    padding-left:0 !important;
}
.navbar-container.container-fluid div.radio-custom.radio-primary {
    padding: 0 20px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-link{
    padding: .5rem 2rem;
}
.nav-link-select{
	color:#00275e!important;
	font-weight:600!important;
	background-color:rgba(243,247,249,.3)!important;
}

.noShow{
    display:none !important;
}
.todolist_table table tbody tr,
.todolist_table table thead{
    line-height:2
}
.todoCount{
    font-weight: 500;
}
.no-padding{
    padding:0 !important;
}
.inner-padding{
    position:relative;
    padding: 0 5px;
}
table.todoTable thead th{
    border-bottom:none;
    background-color: rgba(0,0,0,0.02);
    color:#333;
}
.radio-default input[type="radio"]:checked + label::after, .radio-default input[type="radio"]:checked + input[type="hidden"] + label::after{
    border-color: #013680;
}
.radio-custom{
    margin:10px 15px;
}
.radio-custom label::after {
    width: 10px;
    height: 10px;
    left: 5px;
    top: 5px;
    border: 3px solid #76838f;
}
.main-container .panel-title{
    padding: 15px;
}

.revisionType{
    color:#fff;
    padding: .25em .6em .25em;
    font-weight: 300;
    border-radius: 2px;
}
@media (max-width:1280px){
    .revisionType{
        min-width: 84px;
        max-width: 84px;
        display: block;
        text-align: center;
    }
    td.revDate {
        width: 290px;
        max-width: 290px;
    }
    .table td, .table th {
        vertical-align: middle;
    }
}
.Official{
    background-color: #46be8a;
}
.Internal{
    background-color: #57c7d4;
}
.Get{
    background-color: #f96868;
}
text.widget-title:first-child {
    fill: #888;
}
@media (max-width: 1240px){
    
.chartBox div.col-md-12 {
    max-width: 100%;
    margin-bottom: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
    
}

@media (max-width:767px){
    body{
        min-width:915px;
    }
    .navbar-default .navbar-collapse{
        border:none;
    }
    .site-navbar .navbar-header{
        border-bottom: 1px solid;
    }

}
.navbar-brand>img.navbar-brand-logo{
    width: 210px;
    height: 25px;
}
.nav-link.navbar-avatar{
    font-size: 13px;
    padding-top: 1.5715rem !important;
    padding-bottom: 1.5715rem !important;

}
.navbar-default .navbar-toolbar .nav-link{
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}
.table.todoTable td{
    vertical-align:middle;
}
.table.todoTable td:first-child{
    width: 185px;
}
.table.todoTable td:last-child{
    width:100px;
}

.dropdown-menu-media {
    width: 650px;
}
.todolist_popup .scrollable-container{
    height: 270px; 
    width: 100%;
    padding:0px
}
.todolist_popup .scrollable-content{
    width:100% !important;
}
.todolist_popup th{
    color: #526069;
}
.todolist_popup tbody tr {
    cursor : pointer;
}
.todolist_popup tbody tr:hover{
    color: #76838f;
    text-decoration: none;
    background-color: #f3f7f9;
}
img.designControl_icon {
    width: 19px;
    height:auto;
}
nav.positionChange{
    min-width: 945px;
    position: absolute;
}
.site-menubar.positionChange{
    position: absolute;
}   
.navbar-header.positionChange {
    max-width: 280px;
    min-width: 280px;
    position: relative;
    float: left;
}
.site-navbar .navbar-container.positionChange{
    display: block !important;
}
.navbar-default .navbar-collapse{
    display: block;
}
a.notDecoration {
    text-decoration: none;
}
.SubSideMenu-title {
    color: #b9b9b9;
    font-size: 13px;
    line-height: 2.4;
    font-weight: 400;
}
.SubSideMenu-contents {
    font-size: 12px;
    font-weight: 400;
    color: #777;
}
.site-menubar-section{
    padding:0;
    margin-bottom:0;
}
.SubSideMenu-line:first-child{
    border-top:1px solid #364750;
}
.SubSideMenu-line{
    padding: 10px 16px;
    border-bottom: 1px solid #364750;
}
.SubSideMenu-contents .btn-group.bootstrap-select{
    height: 36px;
    margin: 10px 0;
    width: 94%;
    min-width: 188px;
    max-width: 200px;
}
.SubSideMenu-contents .bootstrap-select button.btn.dropdown-toggle.btn-default{
    background-color:#fff;
}
nav .bootstrap-select button.btn.dropdown-toggle.btn-default {
    height: 62px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    font-size: 13px;
    box-shadow : none;
    padding: 22px;
}

nav .bootstrap-select.btn-group .dropdown-menu{
    max-height: 170px !important;
}
nav .bootstrap-select.btn-group .dropdown-menu li {
    font-size: 13px;
}
nav .bootstrap-select.btn-group .dropdown-menu li a span.text{
    font-size: 12px;
    font-weight: 300;
}
.site-menubar ul{
    padding-top: 2.8rem;
}
.navbar-brand-logo {
    height: auto;
    margin-top: 0;
}

/*loader*/
.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.6);
    text-align: center;
    z-index: 9999;
}
.loader-container.initPageLoding {
    width: 100%;
    height: 350px;
    left:0;
    background-color: rgba(255,255,255,.8);
    position: relative;
}

.loader-wrap {
    position:absolute;
    width:60px;
    height:60px;
    top:50%;
    left:50%;
    margin-top:-30px;
    margin-left:-30px;
}


.navbar-toolbar .dropdown-item{
    margin-left:0;
}

.site-menubar-unfold .site-menu > .site-menu-item > a {
    padding-left: 16px;
    padding-right: 16px;
}

.site-menubar-unfold .site-menu-title {
    max-width:180px;
    overflow: visible;
    white-space: normal;
    line-height: 26px;
}

.site-menu-arrow, .site-menu-badge, .site-menu-label {
    right:20px;
}

.site-menubar ul {
    padding-top:16px;
}

.site-menubar-section {
    margin-top: 16px;
}

.site-menubar-unfold .site-menu-title:first-child {
    margin-left: 17px;
    font-size:12px;
}

.site-menu .site-menu-sub .site-menu-item {
    line-height: 30px;
}
li.SubSideMenu-line:hover {
    background-color: rgba(255,255,255,0.02);
}
li.SubSideMenu-line:hover .SubSideMenu-title {
    color: rgba(255,255,255,1) !important;
}
li.SubSideMenu-line:hover .SubSideMenu-contents{
    color: rgba(170,170,170,1) !important;
}
.navbar-brand.navbar-brand-center.site-gridmenu-toggle img{
    vertical-align: baseline;
}

ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right > li.nav-item.dropdown {
    border-left: 1px solid #eee;
}
#todo-dropdown{
    border-radius:0 !important;
}

/*Nav 높이 조정*/
.navbar-brand {
    padding: 17px 16px;
    height: 58px;
}

nav .bootstrap-select button.btn.dropdown-toggle.btn-default {
    padding: 10px 22px;
    height: 50px;
}

.nav-link.navbar-avatar, .navbar-default .navbar-toolbar .nav-link {
    padding:16px 0!important;
    font-size:14px;
    width:180px;
    text-align:center;
}

.nav-link.navbar-avatar, .navbar-default .navbar-toolbar-right .nav-link{
	width:auto;
	padding-left:1.4rem!important;
	padding-right:1.4rem!important;
}

.navbar {
    min-height: 50px;
}

.site-menubar {
    top: 54.01px;
}

body {
    padding-top: 54.01px;
}

.loaderRow{
    width: 100%;
    height: 360px;
    margin: 0 9px;
}

a.disabled {
   cursor: not-allowed;
}
td a i{
    font-size: 18px;
}
a.disabled i {
    color: #ddd;
}

.table td, .table th {
    border-right: 1px solid #e4eaec;
}

.table th {
    text-align:center;
}

.table td:last-child, .table th:last-child {
    border-right: none;
}


.btn {
    border: 1px solid #ddd;
}

.checkbox-default input[type="checkbox"]:checked + label::after, .checkbox-default input[type="checkbox"]:checked + input[type="hidden"] + label::after, .checkbox-default input[type="radio"]:checked + label::after, .checkbox-default input[type="radio"]:checked + input[type="hidden"] + label::after {
    color: #00275e;
}

.site-menubar{
    background-color:#fff;
}