
	*{margin: 0; padding: 0;font-size: 12px;font-family: 'malgun gothic',sans-serif;}
	html, body {
	    color: #2C2C2C;
	    display: block;
	}
	ol, ul {
	    padding-left: 20px;
	    }
	li {
	    display: list-item;
	}
	a{
		text-decoration: none;
	}
	table, th, td {
    border-collapse: collapse;
    }

	#sopContainer{
	    margin-right: auto;
	    margin-left: auto;
		display: inline;
		width:100%;
	}
	.row {
	    display: inline-flex;
	    margin:0 auto;
	    min-width:980px;
	    width:100%;
	    }
	ul.row {
	    list-style: none;
	    padding: 0;
	}
	.col-4 {
	    width: 100%;
	    min-width:980px;
	    position: relative;
	    min-height: 1px;
	    padding: 0 10px;
	    }
	.col-4 h1{
		font-size: 16px;
	    font-weight: 700;
	    padding: 10px 0;
	    color:#008bd5;
	}
	.sec01{
		width:100%;
	    border-radius: 10px;
	    border: 1px solid #dddddd;
	    background: #efefef;
	    display:table;
	}
	.whitebar{
/* 	    height: 52px; */
	    background: #ffffff;
	    border-radius: 10px 10px 0 0;
	    border-bottom: 1px solid #dddddd;
	}
	.nav_tab{
		padding:15px;
        height: 96%;
    	overflow: auto;
   	    display: grid;
/* 		margin-top:-51px; */
	}
	.whitebar input{
		display:none;
	}
	.whitebar label{
		display:inline-block;
		padding:10px 0; 
		text-align:center;
		color:#999999;
		width: 68px;    
		font-size: 14px;
		position: relative;
		font-weight:700;
	}
	.whitebar label:hover{
		cursor:pointer;
	}
	.whitebar section {
		display: none;
	}
	.whitebar input:checked+label{
		color:#333333;
		border-bottom: 3px solid #008bd5;
	}
	#sopContent1{
		width: max-content;
		display:block;
	}
/* 	#tab1:checked ~ #sopContent1, */
/* 	#tab2:checked ~ #sopContent2, */
/* 	#tab3:checked ~ #sopContent3, */
/* 	#tab4:checked ~ #sopContent4,  */
/* 	#tab5:checked ~ #sopContent5,  */
/* 	#tab6:checked ~ #sopContent6 { */
/* 		display: block; */
/* 		margin-top:20px; */
/* 	} */
	.sopContents_box{
		width: 11%;
		background: #ffffff;
		border-radius: 10px;
		margin:0 15px 15px 0;
		min-width:215px;
		display:inline-block;
		vertical-align: top;
		padding-bottom:20px;
		min-height: 318px;
	}
	#sopContent1> .sopContents_box:last-child {
		margin-right:0;
	}
	.title_sub{
		    text-align: center;
		    background: #40b8f8;
		    padding: 15px;
		    border-radius: 10px 10px 0 0;
		    font-weight: 700;
		    color: #ffffff;
		    font-size: 14px;
	}
	.title_sub span {
	    float:right;
	        background: rgba(255,255,255,0.9);
	    border-radius: 5px;
	    font-weight: 900;
	    margin-left:-30px;
	    color: #40b8f8;
	    width:17px;
	    height:17px;
	    line-height:14px;
	    font-size:15px;
	}
	.dcontainer{
		    padding: 15px 20px 0 20px;
		    text-align:left;
	}
	.dcontainer p{
		    color: #333333;
		    font-weight: 700;
		    font-size: 14px;
		    line-height: 20px;
		    text-overflow: ellipsis; 
		    white-space:nowrap; 
		    word-wrap:normal; 
		    width: 170px; 
		    overflow:hidden;
		    line-height:20px;
	}
	.dcontainer .openicon{
		float: right;
		margin-top:-18px;
		font-size:10px;
	}
	.dcontainer .openicon:hover{
		cursor:pointer;
	}
	.dcontainer ul{
		margin-top: 10px;
		list-style: none;
	}
	.dcontainer ul li{
		line-height:28px;
		margin-left:-27px;
	}
	.dcontainer ul li a{
		color:#999999;
		font-size:14px;
		font-weight: 700;
	}
	.dcontainer ul li a:hover{
		color:#008bd5;
		text-decoration: underline;

	}
	.dcontainer ul li span{
		background: url('../images/img_li_circle.png');
		padding-left:24px;
	}